<!DOCTYPE html>
<html>
  <head>
    <title>DuckMap Builder</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 80%;
      }
      #info {
        height: 100%;
        width: 20%;
        float: left;
      }
    </style>
    <script src="/static/js/external/jquery-2.2.1.min.js"></script>
    <div id="data_json">{{ data }}</div>
  </head>
  <body>
    <div id="info">
      <h3 id="map_name">{{ map_name }}</h3>
      <button class="save_map">Save</button>
      <table id="border_info">
        <thead>
          <tr>
            <td>id</td>
            <td>type</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <table id="area_info">
        <thead>
          <tr>
            <td>id</td>
            <td>name</td>
            <td>viz</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="map"></div>
    <script src="/static/js/builder.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
  </body>
</html>